<div class="pr-folders-container p-5">
    <div class="container">

        <div class="pr-middle-row row pb-3">
            <div class="pr-title col-12 pl-0 pr-0 text-center" id="ressources">Calendrier</div>
            <hr class="pr-black-line-short mt-1 mb-3 mx-auto">
        </div>

        {% for item in site.data.calendrier.calendrier %}
        <div class="row mb-0">
            <div class="pr-calendar-month col-3">
                {{ item.date }}
            </div>
            <div class="pr-calendar-bullet-top col-1 {% if forloop.last == true %}pr-limit-height{% endif %}">
            </div>
            <div class="pr-calendar-description col-7">
                {{ item.content }}
            </div>
        </div>
        {% endfor %}

    </div>
</div>