<div class="pr-middle-row row">
    <div class="pr-title col-12 pl-0" id="ressources">Questions fréquentes</div>
    <hr class="pr-yellow-line-short mt-1 mb-3">
</div>


<div class="pr-faq row">
    <div class="tab-content w-100" id="faq-tab-content">
        <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
            <div class="accordion" id="accordion-tab-1">

                {% for item in site.data.faq.faq %}
                <div class="card">
                    <div class="card-header" id="accordion-tab-1-heading{{ forloop.index }}">
                        <h5>
                            <button class="btn btn-link collapsed" type="button"
                                    data-toggle="collapse" data-target="#accordion-tab-1-content{{ forloop.index }}"
                                    aria-expanded="false" aria-controls="accordion-tab-1-content{{ forloop.index }}">
                                {{ item.title }}
                            </button>
                        </h5>
                    </div>
                    <div class="collapse" id="accordion-tab-1-content{{ forloop.index }}"
                         aria-labelledby="accordion-tab-1-heading{{ forloop.index }}"
                         data-parent="#accordion-tab-1">
                        <div class="card-body">
                            {{ item.content }}
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
